$color-background: #a8dadc;
$color-text: #1d3557;
$color-primary--dark: #2b506e;
$color-primary: #396a93;
$color-primary--medium:#4785b8;
$color-primary--light: #6c9dc6;
$color-primary--xlight: #91b6d4;
