/* CSS Document */

body {
  background-color: #6CF;
}

h1 {
  font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
  font-size: 50px;
  text-align: center;
  color: #F09;
}

p {
  text-align: center;
  font-size: 24px;
  color: #F0F;
  font-style: italic;
}
